.cache
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.npm
.pnp.*
.stylelintcache
.yarn
.yarn-integrity
*.log
*.log.*
*.pid
*.pid.*
*.tsbuildinfo
build
bun.lockb
dist
logs
node_modules
out
package-lock.json
pids
yarn.lock
